<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculationBean" class="CalculationImpl"></bean>
    <bean id="clientSocketFactory" class="GzipClientSocketFactory">
        <constructor-arg type="int" value="1024"/>
    </bean>
    <bean id="serverSocketFactory" class="GzipServerSocketFactory">
        <constructor-arg type="int" value="1024"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="calculationBean"></property>
        <property name="serviceInterface" value="Calculation"></property>
        <property name="serviceName" value="CalculationService"></property>
        <property name="replaceExistingBinding" value="true"></property>
        <property name="registryPort" value="1099"></property>

        <property name="clientSocketFactory" ref="clientSocketFactory"/>
        <property name="serverSocketFactory" ref="serverSocketFactory" />

    </bean>
</beans>